/* INIT POPOTO CLASSES */

#popoto-graph:fullscreen {
  width: 100%;
  height: 100%;
}
#popoto-graph:-webkit-full-screen {
  width: 100%;
  height: 100%;
}
#popoto-graph:-moz-full-screen {
  width: 100%;
  height: 100%;
}
#popoto-graph:-ms-fullscreen {
  width: 100%;
  height: 100%;
}
.ppt-div-graph {
  height: 50%;
}

.ppt-section-header {
  margin-top: 0 !important;
}

.ppt-section-main {
  height: 500px;
}

/* END POPOTO CLASSES */